@media (min-width:$tablet) and (max-width:$big-tablet) {
    .about-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 80px;
        justify-items: center;
        padding-top: 80px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }
    .about-content__pic {
        justify-self: center;
        padding: 0;
        order: 1;
    }
}
@media (min-width:$mobile) and (max-width:$tablet) {
    .about-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-self: center;
        justify-items: center;
        padding-top: 42px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 42px;
        gap: 42px;
    }
    .about-content__text {
        grid-template-columns: minmax(250px, 300px);
        gap: 22px;
    }
    .title-h2 {
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
    }
    .about-content__pic {
        justify-self: center;
        order: 1;
        padding: 0;
        height: 354px;
    }
}
@media (min-width:$minimobile) and (max-width:$mobile){
    .about-content {
        grid-template-columns: minmax(250px,319px);
        grid-template-rows: auto;
        justify-self: center;
        justify-items: center;
        padding-top: 42px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 42px;
        gap: 42px;
    }
    .about-content__pic {
        justify-self: center;
        order: 1;
        padding: 0;
        height: 340px;
    }
    .about-content__text {
        grid-template-columns: minmax(220px, 240px);
        gap: 20px;
    }
    .title-h2 {
        text-align: center;
    }
}

