// @media (max-width:$big-tablet) {}

@media (max-width:$tablet) {
    .donation__container {
        max-width: 768px;
        max-height: 783px;
    }

    .donation__block {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }


    .donation__block-img {
        margin: 80px 131px 100px 132px;
        flex-basis: 50%;
    }

    .donation__block-text {
        margin: 80px 194px 60px 194px;
        flex-basis: 50%;
    } 
}

@media (max-width:$mobile) {
    .donation__container {
        max-width: 320px;
        max-height: 542.2px;
    }
    .donation__block {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .donation__block-img {
        width: 260px;
        height: 135.2px;
        margin: 42px 30px;
        flex-basis: 50%;
    }
    .donation__block-text {
        width: 300px;
        height: 281px;
        margin: 42px 10px;
        flex-basis: 50%;
    }

    .donation__block-bank {
        font-size: 15px;
        line-height: 160%;
    }
    .donation__search-form {
        width: 281px;
        height: 43px;
    }
    .donation__search-txt {
        @include center-center;
        font-size: 15px;
        width: 206px;
        height: 17px;
        letter-spacing: 0.06em;
    }
    .donation__block-legal {
        font-family: Arial;
        font-weight: 400px;
    }
}
