@media (max-width:$big-tablet) {
    .footer {
        background: $bggradient;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__contact,
    .footer__address {
        padding-right: 30px;
    }

    .footer__contact-information,
    .footer__address-information {
        justify-content: space-around;
    }
}

@media (max-width:$tablet) {
    .footer {
        background: $bggradient;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__contact,
    .footer__address {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__block_img {
        padding-top: 0px;
    }
}

@media (max-width:$mobile) {
    .footer {
        background: $bggradient;
        flex-direction: column;
    }

    .footer__title {
        @include h2;
        color: $color-light-xl;
        font-size: 25px;
        line-height: 130%;
        /* or 32px */
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .footer__contact,
    .footer__address {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__block_img {
        max-width: 260px;
        height: 100%;
        padding-left: 30px;

        .footer__img {
            max-width: 260px;
            height: 100%;
        }
    }
}
