@media (max-width:$big-tablet) {
    .footer {
        height: auto;
        box-sizing: border-box;
        background: $bggradient;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: $color-primary;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer__contact,
    .footer__address {
        padding-top: 56px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__contact-information,
    .footer__address-information {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer__image {
        width: 300px;
        height: 310px;
        padding-top: 40px;
    }
}

@media (max-width:$tablet) {
    .footer {
        height: auto;
        box-sizing: border-box;
        background: $bggradient;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: $color-primary;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer__contact,
    .footer__address {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__image {
        width: 300px;
        height: 310px;
        padding-top: 0px;
        padding-right: 40px;
    }
}

@media (max-width:$mobile) {
    .footer {
        height: auto;
        box-sizing: border-box;
        background: $bggradient;
        display: flex;
        flex-direction: column;

        align-items: center;

        a {
            text-decoration: none;
            color: $color-primary;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer__title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        /* or 32px */
        letter-spacing: 0.06em;
        text-align: center;
        color: $color-light-xl;
        align-items: center;
        justify-content: center;
    }

    .footer__contact,
    .footer__address {
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__image {
        width: 260px;
        height: 269px;
        padding-top: 40px;
        padding-right: 30px;
        padding-left: 30px;
    }
}