@import "variables";
@import "mixins";

// @import "_header_media";
.header {
    background: $bggradient;
    background-size: $bgsize;
}

.container-header {
    max-width: 1280px;
    min-height: 100%;
}

.navbar {
    padding: 30px 43px 0;
    @include center-between;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    @extend %title;
    @extend %title_H;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */
    margin-bottom: 10px;
    color: $color-primary;
}

.logo__subtitle {
    @extend %subtitle;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
}

.switcher {
    position: absolute;
    visibility: hidden;
    left: -9999px;
}

label {
    font-size: 30px;
    cursor: pointer;
    color: $color-primary;
    display: none;
}

.nav {
    @include p;
    @include center-between;
    color: $color-dark-s;

    .nav__menu {
        display: flex;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        @include center-between;
        margin-left: 35px;
        color: $color-light-s;

        &:active,
        &:hover {
            color: $color-light-s;
            border-bottom: $color-primary 3px solid;
        }
    }
}


.block-main {
    min-height: 728px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(150px, 460px) minmax(150px, 698px);
    grid-template-rows: auto;
    grid-column-gap: 42px;
    justify-content: space-between;
    margin-top: 83px;
    padding: 0 40px;
}

.block-main__text {
    width: 100%;
    grid-column: 1/2;
    align-items: center;
}

.block-main__title {
    @include h1;
    color: $color-light-xl;
    margin-top: 160px;
}

.block-main__subtitle {
    @include p;
    color: $color-dark-s;
    padding-top: 11.72px;
    padding-bottom: 43px;
}

.block-main__btn {
    @include button-bg;
    width: 207px;
}


.block-main__img {
    grid-column: 2/3;
    max-width: 698px;
    height: 100%;
    display: flex;
    margin-right: 0;
    margin-bottom: 0;
    text-align: right;

    .block-main__img_bigdog {
        max-width: 100%;
        height: auto;
    }
}