@media (max-width:$big-tablet) {
    .block-main {
        max-width: 1024px;
        display: grid;
        grid-template-columns: minmax(320px, 1023px);
        grid-template-rows: repeat(2, auto);
        gap: 100px;
        min-height: 1015px;
        margin-top: 60px;
    }

    .block-main__text {
        grid-column: 1/1;
        grid-row: 1/2;
        max-width: 460px;
        margin: 0 auto;

        .block-main__title {
            margin: 0;
        }

        .block-main__btn {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .block-main__img {
        grid-column: 1/1;
        grid-row: 2/3;
        max-width: 569px;
        height: 100%;
        margin-left: auto;

        .block-main__img_bigdog {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width:$tablet) {

    .header {
        max-width: 767px;
        min-height: 1165px;
        padding: 0 30px;
    }

    .navbar {
        padding-top: 30px;
    }

    .open,
    .close {
        display: block;
        max-width: 320px;
        color: $color-primary;
    }

    .close {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .switcher:checked~.nav {
        right: 0;
    }

    .nav {
        position: fixed;
        width: 320px;
        height: 100%;
        background: $color-dark-3xl;
        top: 0;
        right: -100%;
        font-size: 30px;
        text-align: center;
        padding: 100px 0;
        transition: .7s;

        .nav__menu {
            flex-direction: column;

            a {
                padding: 20px;
            }
        }
    }

    .block-main {
        display: grid;
        grid-template-columns: minmax(320px, 708px);
        grid-template-rows: repeat(2, auto);
        gap: 0;
        margin-top: 60px auto;
        min-height: 1015px;
    }
}

@media (max-width:420px) {
    .header {
        max-width: 300px;
        min-height: 823px;
        padding: 0;
    }

    .navbar {
        padding: 30px 20px 0 20px;
    }

    .block-main {
        max-width: 300px;
        display: grid;
        grid-template-columns: minmax(100px, 280px);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 0;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 10px;
        margin-top: 60px;
        min-height: 673px;
    }

    .block-main__text {
        grid-column: 1/1;
        grid-row: 1/2;
        max-width: 300px;
        min-height: 296px;
        text-align: center;

        .block-main__title {
            display: inline-block;
            margin: 0;
            font-size: 25px;
            border: 1px solid red;
            line-height: 130%;
            /* or 32px */
            letter-spacing: 0.06em;
        }

        .block-main__subtitle {
            padding-top: 10.72px;
            padding-bottom: 43px;
        }

        .block-main__btn {
            position: relative;
            left: 30%;
            transform: translate(-40%, 0);
        }
    }

    .block-main__img {
        grid-column: 1/1;
        grid-row: 2/3;
        max-width: 260px;
        height: 100%;
        margin-left: auto;

        .block-main__img_bigdog {
            max-width: 100%;
            height: auto;
        }
    }
}