@media (max-width:$tablet) {
    .container-header {
        max-width: 767px;
        min-height: 1165px;
    }

    .navbar {
        padding: 30px 30px 0;
    }

    .open,
    .close {
        display: block;
        max-width: 320px;
        color: $color-primary;
    }

    .close {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .switcher:checked~.nav {
        right: 0;
    }

    .nav {
        position: fixed;
        width: 320px;
        height: 800px;
        background: $color-dark-3xl;
        top: 0;
        right: -100%;
        font-size: 30px;
        text-align: center;
        padding: 30px 0;
        transition: .7s;

        .nav__menu {
            flex-direction: column;

            a {
                padding: 20px;
            }
        }

    }

    .block-main {
        max-width: 768px;
        display: grid;
        grid-template-columns: minmax(300px, 768px);
        grid-template-rows: minmax(322px, auto) minmax(593px, auto);
        gap: 100px;
        min-height: 1015px;
        padding-top: 60px;
        margin: 0 auto;
    }

    .block-main__text {
        grid-column: 1/1;
        grid-row: 1/2;
        max-width: 460px;
        height: auto;
        margin: 0 auto;
    }

    .block-main__title {
        margin-top: 0;
        display: inline-flex;
        width: auto;
    }

    .block-main__subtitle {
        padding-top: 11.72px;
        padding-bottom: 43px;
    }

    .block-main__btn {
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .block-main__img {
        grid-column: 1/1;
        grid-row: 2/3;
        max-width: 569px;
        height: 100%;
        margin-left: auto;

        .block-main__img_bigdog {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width:$mobile) {
    .container-header {
        max-width: 320px;
        min-height: 823px;
    }

    .navbar {
        padding: 30px 20px 0;
    }

    .open,
    .close {
        display: block;
        max-width: 320px;
        color: $color-primary;
    }

    .close {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .switcher:checked~.nav {
        right: 0;
    }

    .nav {
        position: fixed;
        width: 320px;
        height: 800px;
        background: $color-dark-3xl;
        top: 0;
        right: -100%;
        font-size: 30px;
        text-align: center;
        padding: 30px 0;
        transition: .7s;

        .nav__menu {
            flex-direction: column;

            a {
                padding: 20px;
            }
        }

    }

    .block-main {
        max-width: 320px;
        display: grid;
        grid-template-columns: minmax(320px, 768px);
        grid-template-rows: minmax(296px, auto) minmax(271px, auto);
        gap: 105px;
        min-height: 673px;
        padding-top: 60px;
        margin: 0 auto;
    }

    .block-main__text {
        grid-column: 1/1;
        grid-row: 1/2;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }

    .block-main__title {
        margin-top: 0;
        font-size: 25px;
        letter-spacing: 0.06em;
        display: inline-flex;
        width: auto;
    }

    .block-main__subtitle {
        padding-top: 11.72px;
        padding-bottom: 43px;
        font-size: 15px;
    }

    .block-main__btn {
        text-align: center;
        width: 207px;
        margin: 0 auto;
        display: block;
    }

    .block-main__img {
        grid-column: 1/1;
        grid-row: 2/3;
        max-width: 260px;
        height: 100%;
        margin-left: auto;

        .block-main__img_bigdog {
            max-width: 100%;
            height: auto;
        }
    }
}