@media (max-width:$tablet) {
    .pets {
        display: none;
    }
}

@media (max-width:$big-tablet) {
    .swiper {
        max-width: 650px;
    }

    .content {
        max-width: 830px;
    }
}