@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

// heder
.header {

    box-sizing: border-box;
    width: 100%;
    background: $bggradient;
    background-size: $bgsize;
    padding: 30px 40px 0;
}

.logo__title {
    @extend %title;
    @extend %title_H;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */
    margin-bottom: 10px;
    color: $color-primary;
}

.logo__subtitle {
    @extend %subtitle;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $white;
}

.navbar {
    @include center-between;
}

.nav {
    @include p;
    color: $color_l;

    li {
        display: inline;

        a {
            text-decoration: none;
            margin-left: 35px;
            color: $color_l;

            &:active,
            &:hover {
                color: $white;
                border-bottom: $color-primary 3px solid;
            }
        }
    }
}

.block-main {
    display: grid;
    grid-template-columns: calc(502/1200*100%) calc(698/1200*100%);
    grid-template-rows: 95.066%;
    align-items: end;
}

.block-main__text {
    grid-column: 1/2;
    align-items: center;
    max-width: 460px;
}

.block-main__title {
    @include h1;
    color: $white;
    margin-top: 253px;
    margin-bottom: 42px;
}

.block-main__subtitle {
    @include p;
    color: $color_l;
    padding-bottom: 42px;
}

.block-main__btn {
    @include button-bg;
    margin-bottom: 243px;
}

.block-main__img {
    grid-column: 2/3;
    max-width: 100%;
    display: flex;

    img {
        width: 100%;
        object-fit: cover;
        align-items: center;
        justify-content: flex-end;
    }
}


//первый блок-главная начало
.activity {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
}

.activity__title {
    @include h2; 
    color: $color-dark-l;
    line-height: 160%;
}

.activity__subtitle {
    @include p; 
    color: $color-dark-xl; 
}

.pic {
    max-width: 300px;
    justify-self: end;
    margin: 80px 20% 100px 0;
}

.text {
    display: grid;
    grid-template-columns: minmax(300px,430px) ;
    gap: 25px ;
}


​ //первый блок-главная конец
​ //второй блок-о_нас начало
//второй блок-о_нас конец
​ //третий блок-карусель начало
//третий блок-карусель конец
​ //четвертый  блок-иконки начало

.icons {
    background-color: $white;
    width: 1280px;
    margin: 0 auto;
}

.icons__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1030px;
    column-gap: 120px;
    row-gap: 55px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.icons__title {
    @include h2;
    color: $color-dark-l;
    max-width: 310px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.item__subtitle {
    @include h3;
    color: $color-dark-l;
    padding-top: 25px;
}

.icons__item {
    text-align: center;
}

.item__subtitle_bowls {
    padding-top: 28px;
}

.icons__item_vit-col-position {
    padding-top: 6px;
}

​ //четвертый  блок-иконки конец
​ //пятый блок-финпомощь

.donation {
    background: #f6f6f6;
}

.donation__container {
    width: 100%;
    max-width: 1280px;
    max-height: 462px;
    margin: 0 auto;
}

.donation__block {
    display: flex;
    justify-content: center;
}

.donation__block_p1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
}

.donation__block_img {
    width: 505px;
    height: 261px;
    margin: 91px 30px 110px 183px;
}

.donation__block_text {
    width: 380px;
    height: 282px;
    margin: 80px 182px 100px 0px;
}

.donation__block_title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
}

.search-form {
    border: none;
    width: 349px;
    height: 43px;
    display: inline-flex;
    /* color-primary */
    background: #f1cdb3;
    border-radius: 9px;
}

.search-form__txt {
    border: none;
    width: 274px;
    height: 23px;
    margin-left: 55px;
    margin-top: 10px;
    outline: none;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
    background: #f1cdb3;
}

.search-form__btn {
    border: none;
    width: 30px;
    height: 23px;
    margin-left: 30px;
    margin-top: 10px;
    background: #f1cdb3;
}

.donation__block_p2 {
    margin-top: 20px;
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    display: flex;
    align-items: center;
    /* color-dark-m */
    color: #b2b2b2;
}

//пятый блок-финпомощь конец

// НЕ ТРОГАТЬ!!!!!!!!!!!
//  картинка для модального окна набросок

.description {
    display: none;
}

// ФУТЕР
.footer {
    height: 350px;
    box-sizing: border-box;
    background: $bggradient;
    background-size: $bgsize;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: $color-primary;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer__contact,
.footer__address {
    padding-top: 56px;
    padding-bottom: 60px;
}

.footer__contact {
    padding-left: 40px;
}

.footer__title {
    @include h2;
    color: $white;
}

.footer__contact-information,
.footer__address-information {
    display: flex;
    align-items: center;
}

.footer__contact-information {
    padding-top: 43px;
}

.footer__address-information {
    padding-top: 40px;
}

.footer__information-all {
    @include h3;
    padding-left: 20px;
}

.footer__image {
    width: 300px;
    height: 310px;
    padding-top: 40px;
    padding-right: 40px;
}