* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}



@import "variables";
@import "mixins";
@import "_header";
@import "_firstsection";
@import "_icons";
@import "_donation";
@import "_footer";

// @media screen and (max-width:767px) {
//     .container {
//         width: 100%;
//         max-width: 767px;
//         margin: 0 auto;
//         box-sizing: border-box;
//     }
// }

@import "_header_media";
// @import "_firstsectionmedia";
@import "_iconsmedia";
// @import "_donation-media";
@import "_footermedia";