@import "variables";
@import "mixins";

body {
    background: $bggradient;
    background-size: $bgsize;
    color: $white;
}

// heder

//первый блок-главная начало
//первый блок-главная конец

//второй блок-о_нас начало
//второй блок-о_нас конец

//третий блок-карусель начало
//третий блок-карусель конец

//четвертый  блок-иконки начало
//четвертый  блок-иконки конец


//пятый блок-финпомощь начало
//пятый блок-финпомощь конец

// ФУТЕР