@charset "UTF-8";
.footer__title, .donation__block_title, .donation__block_p1, .icons__title, .activity__title, .logo__title {
  letter-spacing: 0.06em;
}

.footer__information-all, .footer__title, .search-form__txt, .donation__block_title, .donation__block_p1, .item__subtitle, .icons__title, .activity__title, .block-main__title, .logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

.activity__subtitle, .block-main__subtitle, .nav, .logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.block-main__btn {
  height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  font-size: 17px;
  color: #292929;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: url(/assets/images/footer-gradient-background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: cover;
  padding: 30px 40px 0;
}

.logo__title {
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  margin-bottom: 10px;
  color: #F1CDB3;
}

.logo__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #CDCDCD;
}
.nav li {
  display: inline;
}
.nav li a {
  text-decoration: none;
  margin-left: 35px;
  color: #CDCDCD;
}
.nav li a:active, .nav li a:hover {
  color: #fff;
  border-bottom: #F1CDB3 3px solid;
}

.block-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 41.8333333333% 58.1666666667%;
  grid-template-columns: 41.8333333333% 58.1666666667%;
  -ms-grid-rows: 95.066%;
  grid-template-rows: 95.066%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.block-main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.block-main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.block-main__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 460px;
}

.block-main__title {
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  color: #fff;
  margin-top: 253px;
  margin-bottom: 42px;
}

.block-main__subtitle {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #CDCDCD;
  padding-bottom: 42px;
}

.block-main__btn {
  background: #F1CDB3;
  border: none;
  cursor: pointer;
  margin-bottom: 243px;
}
.block-main__btn:hover {
  background-color: #FDDCC4;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.block-main__btn:focus {
  outline-color: transparent;
  outline-style: solid;
  -webkit-box-shadow: 0 0 0 2px #f3c496;
          box-shadow: 0 0 0 2px #f3c496;
}

.block-main__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-main__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.activity {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: -webkit-max-content;
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
}

.activity > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.activity > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.activity__title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  color: #545454;
  line-height: 160%;
}

.activity__subtitle {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #4C4C4C;
}

.pic {
  max-width: 300px;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 80px 20% 100px 0;
}

.text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 430px);
  grid-template-columns: minmax(300px, 430px);
  gap: 25px;
}

​ ​ ​ ​ .icons {
  background-color: #fff;
  width: 1280px;
  margin: 0 auto;
}

.icons__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1030px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.icons__title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  color: #545454;
  max-width: 310px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.item__subtitle {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  /*line-height: 115%;*/
  color: #545454;
  padding-top: 25px;
}

.icons__item {
  text-align: center;
}

.item__subtitle_bowls {
  padding-top: 28px;
}

.icons__item_vit-col-position {
  padding-top: 6px;
}

​ ​ .donation {
  background: #f6f6f6;
}

.donation__container {
  width: 100%;
  max-width: 1280px;
  max-height: 462px;
  margin: 0 auto;
}

.donation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__block_p1 {
  color: #545454;
  font-size: 15px;
  line-height: 17px;
  /*line-height: 110%;*/
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__block_img {
  width: 505px;
  height: 261px;
  margin: 91px 30px 110px 183px;
}

.donation__block_text {
  width: 380px;
  height: 282px;
  margin: 80px 182px 100px 0px;
}

.donation__block_title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form {
  border: none;
  width: 349px;
  height: 43px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* color-primary */
  background: #f1cdb3;
  border-radius: 9px;
}

.search-form__txt {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  /*line-height: 115%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 274px;
  height: 23px;
  margin-left: 55px;
  margin-top: 10px;
  outline: none;
  background: #f1cdb3;
}

.search-form__btn {
  border: none;
  width: 30px;
  height: 23px;
  margin-left: 30px;
  margin-top: 10px;
  background: #f1cdb3;
}

.donation__block_p2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #b2b2b2;
  /* color-dark-m */
}

.description {
  display: none;
}

.footer {
  height: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(/assets/images/footer-gradient-background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer a {
  text-decoration: none;
  color: #F1CDB3;
}
.footer a:hover {
  text-decoration: underline;
}

.footer__contact,
.footer__address {
  padding-top: 56px;
  padding-bottom: 60px;
}

.footer__contact {
  padding-left: 40px;
}

.footer__title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  color: #fff;
}

.footer__contact-information,
.footer__address-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-information {
  padding-top: 43px;
}

.footer__address-information {
  padding-top: 40px;
}

.footer__information-all {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  /*line-height: 115%;*/
  padding-left: 20px;
}

.footer__image {
  width: 300px;
  height: 310px;
  padding-top: 40px;
  padding-right: 40px;
}