* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* color-light-l */
.footer__title, .donation__block-bank, .donation__block-title, .help__title, .nickname, .button, .pets__heading, .title-h2, .logo__title {
  letter-spacing: 0.06em;
}

.footer__information-all, .footer__title, .donation__credit-txt, .donation__block-bank, .donation__block-title, .item__subtitle, .help__title, .nickname, .button, .pets__heading, .title-h2, .block-main__title, .logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

.donation__block-paragraf, .paragraph, .block-main__subtitle, .nav, .logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.block-main__btn {
  height: 52px;
  border-radius: 100px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

/* color-light-l */
.footer__title, .donation__block-bank, .donation__block-title, .help__title, .nickname, .button, .pets__heading, .title-h2, .logo__title {
  letter-spacing: 0.06em;
}

.footer__information-all, .footer__title, .donation__credit-txt, .donation__block-bank, .donation__block-title, .item__subtitle, .help__title, .nickname, .button, .pets__heading, .title-h2, .block-main__title, .logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

.donation__block-paragraf, .paragraph, .block-main__subtitle, .nav, .logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.block-main__btn {
  height: 52px;
  border-radius: 100px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  background: url(/assets/images/footer-gradient-background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: cover;
  padding: 0 40px;
}

.navbar {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  margin-bottom: 10px;
  color: #F1CDB3;
}

.logo__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
}

.switcher {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}

label {
  font-size: 30px;
  cursor: pointer;
  color: #F1CDB3;
  display: none;
}

.nav {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CDCDCD;
}
.nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
  color: #FAFAFA;
}
.nav a:active, .nav a:hover {
  color: #FAFAFA;
  border-bottom: #F1CDB3 3px solid;
}

.block-main {
  min-height: 728px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(150px, 462px) 42px minmax(150px, 698px);
  grid-template-columns: minmax(150px, 462px) minmax(150px, 698px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 42px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.block-main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.block-main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.block-main__text {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-main__title {
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  color: #fff;
  margin-top: 164px;
}

.block-main__subtitle {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #CDCDCD;
  padding-top: 10.72px;
  padding-bottom: 43px;
}

.block-main__btn {
  background: #F1CDB3;
  border: none;
  cursor: pointer;
  width: 207px;
}
.block-main__btn:hover {
  background-color: #FDDCC4;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.block-main__btn:focus {
  outline-color: transparent;
  outline-style: solid;
  -webkit-box-shadow: 0 0 0 2px #f3c496;
          box-shadow: 0 0 0 2px #f3c496;
}

.block-main__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  max-width: 728px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-bottom: 0;
  text-align: right;
}
.block-main__img .block-main__img_bigdog {
  max-width: 100%;
  height: auto;
  padding-bottom: 0;
  display: inline;
}

/* color-light-l */
.footer__title, .donation__block-bank, .donation__block-title, .help__title, .nickname, .button, .pets__heading, .title-h2, .logo__title {
  letter-spacing: 0.06em;
}

.footer__information-all, .footer__title, .donation__credit-txt, .donation__block-bank, .donation__block-title, .item__subtitle, .help__title, .nickname, .button, .pets__heading, .title-h2, .logo__title, .block-main__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

.donation__block-paragraf, .paragraph, .logo__subtitle, .nav, .block-main__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.block-main__btn {
  height: 52px;
  border-radius: 100px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.about {
  max-width: 1280px;
  min-height: 588px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.title-h2 {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
}

.paragraph {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #4C4C4C;
}

.about-content__pic {
  max-width: 300px;
  max-height: 408px;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 16.5%;
}

.about-content__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-content__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 430px);
  grid-template-columns: minmax(300px, 430px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 25px;
}

.about-content__text > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.pets {
  width: 100%;
  height: 877px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F6F6F6;
}

.content {
  z-index: 1;
  background-color: #F6F6F6;
  max-width: 1280px;
  min-height: 440px;
  margin: 0 auto;
  position: relative;
}

.scrolsection {
  width: 100%;
  height: 440px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.metrica {
  width: 270px;
  height: 435px;
  text-align: center;
  background-color: #FAFAFA;
}

.metrica img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pets__heading {
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 80px;
}

.nickname {
  color: #545454;
}

.clicbottom {
  margin: 60px auto 100px auto;
  text-align: center;
}

.button {
  width: 261px;
  height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  font-size: 17px;
  line-height: 22px;
  background-color: #F1CDB3;
  text-decoration: none;
  color: #292929;
  gap: 10px;
  border: none;
}

.button:hover {
  background-color: #FDDCC4;
  border: 5px solid #FDDCC4;
}

.but {
  width: 52px;
  height: 52px;
  border-radius: 180%;
  color: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.but:hover {
  background-color: #FAFAFA;
  border: 3px solid #FDDCC4;
}

.met {
  width: 187px;
  height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  font-size: 17px;
  line-height: 22px;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  color: #292929;
}

.nickname {
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 25px;
}

.swiper {
  height: 435px;
  max-width: 990px;
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:after {
  display: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: black;
  max-width: 900px;
  max-height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__title {
  font-size: 35px;
  line-height: 130%;
  padding-top: 50px;
  padding-left: 30px;
}

.popup__text_first-p {
  font-size: 20px;
  line-height: 115%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 30px;
}

.popup__text_second-p {
  margin: 0;
  font-size: 15px;
  line-height: 110%;
  padding-left: 30px;
  padding-top: 5px;
  max-width: 383px;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
  font-size: 20;
  color: black;
}

.popup:target {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.bold {
  font-weight: bold;
}

.popup__section {
  width: 400px;
}

.popup__text ul {
  margin: 0;
  padding-top: 40px;
  padding-left: 45px;
  padding-bottom: 11px;
}

.popup__li {
  color: #F1CDB3;
  padding-bottom: 10px;
}

.popup__li span {
  color: #000000;
}

.help {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}
.help__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1030px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.help__title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  max-width: 310px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.help__item {
  text-align: center;
}
.help__item_vit-col-position {
  padding-top: 6px;
}

.item__subtitle {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  /*line-height: 115%;*/
  padding-top: 25px;
}

.item__subtitle_bowls {
  padding-top: 28px;
}

/* color-light-l */
.footer__title, .donation__block-bank, .donation__block-title, .logo__title, .title-h2, .pets__heading, .button, .nickname, .help__title {
  letter-spacing: 0.06em;
}

.footer__information-all, .footer__title, .donation__credit-txt, .donation__block-bank, .donation__block-title, .logo__title, .block-main__title, .title-h2, .pets__heading, .button, .nickname, .help__title, .item__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

.donation__block-paragraf, .logo__subtitle, .nav, .block-main__subtitle, .paragraph {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.block-main__btn {
  height: 52px;
  border-radius: 100px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.donation {
  max-width: 1280px;
  min-height: 462px;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donation__block {
  max-width: 915px;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.donation__block-img {
  max-width: 505px;
  height: 100%;
  padding-right: 30px;
}
.donation__block-img .donation__img {
  max-width: 100%;
  height: auto;
}

.donation__block-text {
  width: 380px;
  height: 100%;
}

.donation__block-title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
}

.donation__block-bank {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  font-size: 15px;
  line-height: 17px;
  /*line-height: 110%;*/
  height: 100%;
  margin: 20px 0;
}

.donation__credit-card {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  background: #F1CDB3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.donation__credit-icon {
  padding-left: 15px;
}

.donation__credit-txt {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  /*line-height: 115%;*/
  border: none;
  width: 274px;
  background: #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__block-paragraf {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #B2B2B2;
}

.footer {
  height: auto;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(/assets/images/footer-gradient-background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer a {
  text-decoration: none;
  color: #F1CDB3;
}
.footer a:hover {
  text-decoration: underline;
}

.footer__contact,
.footer__address {
  padding-top: 56px;
  padding-bottom: 60px;
}

.footer__contact {
  padding-left: 40px;
}

.footer__title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  color: #fff;
}

.footer__contact-information,
.footer__address-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-information {
  padding-top: 43px;
}

.footer__address-information {
  padding-top: 40px;
}

.footer__information-all {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  /*line-height: 115%;*/
  padding-left: 20px;
}

.footer__block_img {
  max-width: 300px;
  padding-top: 40px;
  padding-right: 40px;
}

@media (max-width: 1025px) {
  .block-main {
    max-width: 1024px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(320px, 1023px);
    grid-template-columns: minmax(320px, 1023px);
    -ms-grid-rows: auto 100px auto;
    grid-template-rows: repeat(2, auto);
    gap: 100px;
    min-height: 1015px;
    margin-top: 60px;
  }
  .block-main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .block-main > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .block-main__text {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    max-width: 460px;
    margin: 0 auto;
  }
  .block-main__text .block-main__title {
    margin: 0;
  }
  .block-main__text .block-main__btn {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .block-main__img {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 569px;
    height: 100%;
    margin-left: auto;
  }
  .block-main__img .block-main__img_bigdog {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .header {
    max-width: 767px;
    min-height: 1165px;
    padding: 0 30px;
  }
  .navbar {
    padding-top: 30px;
  }
  .open,
.close {
    display: block;
    max-width: 320px;
    color: #F1CDB3;
  }
  .close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .switcher:checked ~ .nav {
    right: 0;
  }
  .nav {
    position: fixed;
    width: 320px;
    height: 100%;
    background: #292929;
    top: 0;
    right: -100%;
    font-size: 30px;
    text-align: center;
    padding: 100px 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .nav .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .nav__menu a {
    padding: 20px;
  }
  .block-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(320px, 708px);
    grid-template-columns: minmax(320px, 708px);
    -ms-grid-rows: auto 0 auto;
    grid-template-rows: repeat(2, auto);
    gap: 0;
    margin-top: 60px auto;
    min-height: 1015px;
  }
  .block-main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .block-main > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media (max-width: 420px) {
  .header {
    max-width: 300px;
    min-height: 823px;
    padding: 0;
  }
  .navbar {
    padding: 30px 20px 0 20px;
  }
  .block-main {
    max-width: 300px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(100px, 280px);
    grid-template-columns: minmax(100px, 280px);
    -ms-grid-rows: auto 0 auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
    margin-top: 60px;
    min-height: 673px;
  }
  .block-main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .block-main > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .block-main__text {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    max-width: 300px;
    min-height: 296px;
    text-align: center;
  }
  .block-main__text .block-main__title {
    display: inline-block;
    margin: 0;
    font-size: 25px;
    border: 1px solid red;
    line-height: 130%;
    /* or 32px */
    letter-spacing: 0.06em;
  }
  .block-main__text .block-main__subtitle {
    padding-top: 10.72px;
    padding-bottom: 43px;
  }
  .block-main__text .block-main__btn {
    position: relative;
    left: 30%;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
  }
  .block-main__img {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 260px;
    height: 100%;
    margin-left: auto;
  }
  .block-main__img .block-main__img_bigdog {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 767px) and (max-width: 1025px) {
  .about-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 80px;
    justify-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  .about-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .about-content__pic {
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-column-align: center;
        justify-self: center;
    justify-items: center;
    padding-top: 42px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 42px;
    gap: 42px;
  }
  .about-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .about-content__text {
    -ms-grid-columns: minmax(250px, 300px);
    grid-template-columns: minmax(250px, 300px);
    gap: 22px;
  }
  .title-h2 {
    text-align: center;
    font-size: 25px;
    line-height: 32.5px;
  }
  .about-content__pic {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    height: 354px;
  }
}
@media (min-width: 250px) and (max-width: 320px) {
  .about-content {
    -ms-grid-columns: minmax(250px, 319px);
    grid-template-columns: minmax(250px, 319px);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-column-align: center;
        justify-self: center;
    justify-items: center;
    padding-top: 42px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 42px;
    gap: 42px;
  }
  .about-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .about-content__pic {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    height: 340px;
  }
  .about-content__text {
    -ms-grid-columns: minmax(220px, 240px);
    grid-template-columns: minmax(220px, 240px);
    gap: 20px;
  }
  .title-h2 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .pets {
    display: none;
  }
}
@media (max-width: 1025px) {
  .swiper {
    max-width: 650px;
  }
  .content {
    max-width: 830px;
  }
}
@media (max-width: 1025px) {
  .help__line {
    padding-left: 69px;
    padding-right: 69px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
  .help__item {
    width: 170px;
  }
}
@media (max-width: 767px) {
  .help__line {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .help__item {
    width: 130px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .help__subtitle {
    font-size: 15px;
    padding-top: 15px;
  }
  .help__title {
    font-size: 25px;
    line-height: 32px;
    max-width: 224px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 42px;
  }
}
@media (max-width: 320px) {
  .help__line {
    width: 160px;
  }
}
@media (max-width: 1025px) {
  .donation__container {
    max-width: 1024px;
    min-height: 462px;
  }
  .donation__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-bottom: 100px;
    margin-top: 80px;
  }
  .donation__block-text {
    width: 380px;
    min-height: 282px;
  }
  .donation__block-img {
    margin: 0;
    padding-right: 0;
    padding-top: 60px;
  }
}
@media (max-width: 380px) {
  .donation__container {
    min-width: 250px;
    height: 100%;
  }
  .donation__block {
    text-align: center;
    margin: 42px auto;
  }
  .donation__block-text {
    max-width: 300px;
    min-height: 282px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 20px;
    text-align: center;
  }
  .donation__block-title {
    font-size: 25px;
    border: 1px solid red;
  }
  .donation__credit-card {
    max-width: 281px;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .donation__credit-icon {
    padding: 0 15px;
  }
  .donation__credit-icon .donation__credit-txt {
    font-size: 15px;
    padding-right: 15px;
  }
  .donation__block-img {
    max-width: 260px;
    height: 100%;
  }
  .donation__block-img .donation__img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 1025px) {
  .footer {
    background: url(/assets/images/footer-gradient-background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__contact,
.footer__address {
    padding-right: 30px;
  }
  .footer__contact-information,
.footer__address-information {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .footer {
    background: url(/assets/images/footer-gradient-background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__contact,
.footer__address {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer__block_img {
    padding-top: 0px;
  }
}
@media (max-width: 320px) {
  .footer {
    background: url(/assets/images/footer-gradient-background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__title {
    color: #545454;
    font-size: 35px;
    line-height: 45px;
    /* line-height: 130%; */
    color: #fff;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contact,
.footer__address {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer__block_img {
    max-width: 260px;
    height: 100%;
    padding-left: 30px;
  }
  .footer__block_img .footer__img {
    max-width: 260px;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */