* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* color-light-l */
.footer__title, .donation__block-title, .donation__block-bank, .icons__title, .block-activity__title, .logo__title {
  letter-spacing: 0.06em;
}

.footer__information-all, .footer__title, .donation__search-txt, .donation__block-title, .donation__block-bank, .item__subtitle, .icons__title, .block-activity__title, .block-main__title, .logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

.block-activity__subtitle, .block-main__subtitle, .nav, .logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.block-main__btn {
  height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  font-size: 17px;
  color: #292929;
}

/* color-light-l */
.footer__title, .donation__block-title, .donation__block-bank, .icons__title, .block-activity__title, .logo__title {
  letter-spacing: 0.06em;
}

.footer__information-all, .footer__title, .donation__search-txt, .donation__block-title, .donation__block-bank, .item__subtitle, .icons__title, .block-activity__title, .block-main__title, .logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

.block-activity__subtitle, .block-main__subtitle, .nav, .logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.block-main__btn {
  height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  font-size: 17px;
  color: #292929;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: url(/assets/images/footer-gradient-background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: cover;
  padding: 30px 40px 0;
}

.navbar {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  margin-bottom: 10px;
  color: #F1CDB3;
}

.logo__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
}

.switcher {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}

label {
  font-size: 30px;
  cursor: pointer;
  color: #F1CDB3;
  display: none;
}

.nav {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CDCDCD;
}
.nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
  color: #FAFAFA;
}
.nav a:active, .nav a:hover {
  color: #FAFAFA;
  border-bottom: #F1CDB3 3px solid;
}

.block-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-main__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 460px;
}

.block-main__title {
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  color: #fff;
  margin-bottom: 42px;
}

.block-main__subtitle {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #CDCDCD;
  padding-bottom: 42px;
}

.block-main__btn {
  background: #F1CDB3;
  border: none;
  cursor: pointer;
  width: 207px;
}
.block-main__btn:hover {
  background-color: #FDDCC4;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.block-main__btn:focus {
  outline-color: transparent;
  outline-style: solid;
  -webkit-box-shadow: 0 0 0 2px #f3c496;
          box-shadow: 0 0 0 2px #f3c496;
}

.block-main__img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-bottom: 0;
}
.block-main__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0;
  padding-bottom: 0;
}

/* color-light-l */
.footer__title, .donation__block-title, .donation__block-bank, .icons__title, .block-activity__title, .logo__title {
  letter-spacing: 0.06em;
}

.footer__information-all, .footer__title, .donation__search-txt, .donation__block-title, .donation__block-bank, .item__subtitle, .icons__title, .block-activity__title, .logo__title, .block-main__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

.block-activity__subtitle, .logo__subtitle, .nav, .block-main__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.block-main__btn {
  height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  font-size: 17px;
  color: #292929;
}

.about {
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block-activity {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.block-activity__title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
}

.block-activity__subtitle {
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #4C4C4C;
}

.block-activity__pic {
  max-width: 300px;
  max-height: 408px;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-top: 80px;
  padding-bottom: 100px;
  padding-right: 18.8%;
}

.block-activity__pic img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-activity__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 430px);
  grid-template-columns: minmax(300px, 430px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 25px;
}

.block-activity__text > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.icons {
  background-color: #fff;
  width: 1280px;
  margin: 0 auto;
}

.icons__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1030px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.icons__title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  max-width: 310px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.item__subtitle {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  /*line-height: 115%;*/
  padding-top: 25px;
}

.icons__item {
  text-align: center;
}

.item__subtitle_bowls {
  padding-top: 28px;
}

.icons__item_vit-col-position {
  padding-top: 6px;
}

.donation {
  background: #f6f6f6;
}

.donation__container {
  width: 100%;
  max-width: 1280px;
  min-height: 462px;
  margin: 0 auto;
}

.donation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__block-bank {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  font-size: 15px;
  line-height: 17px;
  /*line-height: 110%;*/
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__block-img {
  width: 505px;
  height: 261px;
  margin: 91px 30px 110px 183px;
}

.donation__block-text {
  width: 380px;
  height: 282px;
  margin: 80px 182px 100px 0px;
}

.donation__block-title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__search-form {
  border: none;
  width: 349px;
  height: 43px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* color-primary */
  background: #F1CDB3;
  border-radius: 9px;
}

.donation__search-txt {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  /*line-height: 115%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 274px;
  height: 23px;
  margin-left: 55px;
  margin-top: 10px;
  outline: none;
  background: #F1CDB3;
}

.donation__search-btn {
  border: none;
  width: 30px;
  height: 23px;
  margin-left: 30px;
  margin-top: 10px;
  background: #F1CDB3;
}

.donation__block-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  margin-top: 20px;
  color: #B2B2B2;
  /* color-dark-m */
}

.footer {
  height: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(/assets/images/footer-gradient-background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer a {
  text-decoration: none;
  color: #F1CDB3;
}
.footer a:hover {
  text-decoration: underline;
}

.footer__contact,
.footer__address {
  padding-top: 56px;
  padding-bottom: 60px;
}

.footer__contact {
  padding-left: 40px;
}

.footer__title {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  /* line-height: 130%; */
  color: #fff;
}

.footer__contact-information,
.footer__address-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-information {
  padding-top: 43px;
}

.footer__address-information {
  padding-top: 40px;
}

.footer__information-all {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  /*line-height: 115%;*/
  padding-left: 20px;
}

.footer__image {
  width: 300px;
  height: 310px;
  padding-top: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    height: auto;
    padding: 30px 30px 0;
  }
  .open,
.close {
    display: block;
    max-width: 320px;
    color: #F1CDB3;
  }
  .close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .switcher:checked ~ .nav {
    right: 0;
  }
  .nav {
    position: fixed;
    width: 320px;
    height: 100%;
    background: #292929;
    top: 0;
    right: -100%;
    font-size: 30px;
    text-align: center;
    padding: 100px 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .nav .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .nav__menu a {
    padding: 20px;
  }
  .block-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main__text {
    max-width: 100%;
    height: 100%;
  }
  .block-main__img {
    width: 100%;
    vertical-align: middle;
    margin-right: 0;
    margin-bottom: 0;
  }
  img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 100px;
    overflow: hidden;
    width: 100%;
  }
}
@media (max-width: 1025px) {
  .icons__line {
    padding-left: 69px;
    padding-right: 69px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
  .icons__item {
    width: 170px;
  }
}
@media (max-width: 768px) {
  .icons__line {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .icons__item {
    width: 130px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .item__subtitle {
    font-size: 15px;
    padding-top: 15px;
  }
  .icons__title {
    font-size: 25px;
    line-height: 32px;
    max-width: 224px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 42px;
  }
}
@media (max-width: 768px) {
  .donation__container {
    max-width: 768px;
    max-height: 783px;
  }
  .donation__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation__block-img {
    margin: 80px 131px 100px 132px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .donation__block-text {
    margin: 80px 194px 60px 194px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media (max-width: 320px) {
  .donation__container {
    max-width: 320px;
    max-height: 542.2px;
  }
  .donation__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .donation__block-img {
    width: 260px;
    height: 135.2px;
    margin: 42px 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .donation__block-text {
    width: 300px;
    height: 281px;
    margin: 42px 10px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .donation__block-bank {
    font-size: 15px;
    line-height: 160%;
  }
  .donation__search-form {
    width: 281px;
    height: 43px;
  }
  .donation__search-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    width: 206px;
    height: 17px;
    letter-spacing: 0.06em;
  }
  .donation__block-legal {
    font-family: Arial;
    font-weight: 400px;
  }
}
/*# sourceMappingURL=style.css.map */